body {
  
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .topnav {
    overflow: hidden;
    
   
  }
  a{
    color : salmon;
    text-decoration: none;
  }
  .topnav a {
    float: left;
    color: lightcoral;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 15px;
  
  }
  
  .이름 {
    float: left;
    color: salmon;
    padding-left: 20px;
  }
   
  .큰틀{
    width: 100%;
    max-width: 1000px;
    max-height: 1000px;
    margin: 50px auto ;


  }
  .큰틀 .중간틀{
     margin-top: 10%;


  }
  .큰틀 .중간틀 .비즈니스{
      text-align: center;
      font-size: 40px;

  }
  .큰틀 .중간틀  .디즈니{
      margin-top: 5%;
      padding-left: 3%;
      font-size: 20px;
      text-align: center;


  }
  .큰틀 .중간틀 .기사{
      text-align: center;
  }
  